.li {
  list-style: none;
  padding: 10px;
  margin: 5px 0;
  font-size: 14px;
  font-weight: 900;
  border: 1px solid lightgrey;
  background-color: ghostwhite;
}

.li:hover {
  border: 1px solid rgb(188, 219, 184);
  background-color: rgb(181, 204, 188);
}

.completed {
  border: 1px solid rgb(188, 219, 184);
  background-color: rgb(214, 240, 221);
  text-decoration: line-through;
  color: grey;
}

.delete {
  composes: btnRed from '../Control/Control.module.css';
  width: 39px;
  height: 39px !important;
  bottom: 12px;
  left: 12px;
}
