.wrapper {
  padding: 10px 0;
  height: 33px;
}

.btnOrange {
  composes: btn from global;
  float: right;
  color: white;
  background-color: orange;
}

.btnRed {
  composes: btn from global;
  float: right;
  color: white;
  background-color: tomato;
}

.btnPurple {
  composes: btn from global;
  color: white;
  background-color: mediumpurple;
}

.filterList {
  margin: 0 0 0 -1px;
  padding: 0;
  position: absolute;
  display: none;
}

.filterList li {
  list-style: none;
  display: inline-flex;
  margin: 1px -1px 0 0;
  padding: 8.5px 10px;
  font-size: 11px;
  font-weight: 900;
  border: 1px solid mediumpurple;
  text-transform: capitalize;
}

.on {
  color: white;
  background-color: rgb(168, 142, 221);
}

.off {
  color: rgb(125, 84, 206);
  background-color: transparent;
  border: 1px solid mediumpurple;
}

.show-inline-block {
  display: inline-block;
}
