.wrapper {
  display: inline-block;
  width: 70%;
  margin: 1% 15%;
  padding: 15px;
  background-color: white;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

:global .btn {
  position: relative;
  margin: 1px;
  padding: 0 15px;
  height: 32px;
  color: white;
  font-weight: 900;
  border: none;
}
